<div>
    <h1>Location Select</h1>
    <p>Add Items</p>
    <div  >
        
        <input [(ngModel)]="itemName" type="text"  name="item name" placeholder="Name" required>
        <input [(ngModel)]="itemLocationID" type="number" name="item Location" placeholder="Location" required>
        
        <!-- <button class="primary" type="button" (click)="addItem(itemName.value, itemLocation.value)">Add Item</button> -->
        <select [(ngModel)]="itemSize">
            <option value="Super Big">Super Big</option>
            <option value="Enormous">Enormous</option>
            <option value="Galaxy">Galaxy</option>
        </select>

        <select [(ngModel)]="locationSelect">
            <option  [ngValue]="null" disabled>Choose your Location</option>
            <!-- @for (location of locations; track location.id; { -->
                <option *ngFor="let location of locations" [ngValue]="location">
                    {{ location.name }}
                </option>
            <!-- } <div style="border: 1px;"></div>-->
          </select> 
          <select ng-model="selectedName" ng-options="item for item in names"></select>
        <app-location-select [selectedLocation]="locationSelect" ></app-location-select>
        <button class="primary" type="button" (click)="addItem()">Add Item</button>

    </div>
    <hr>
    <p>Add Locations</p>
    <div>

        <input [(ngModel)]="locationName" type="text"  name="location name" placeholder="Name" required>
        <label>Width</label>
        <input [(ngModel)]="width" type="number" name="location width" required>
        <label>Height</label>
        <input [(ngModel)]="height" type="number" name="location height" required>
        

        <button class="primary" type="button" (click)="addLocation()">Add Location</button>
    </div>
</div>
